* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--cream: #d7ba89;
	--grey: #e9e5de;
}

#container {
	position: relative;
	min-height: 100vh;
	background-color: var(--cream);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#sand_text {
	width: 80%;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	background-color: var(--grey);
	overflow: hidden;
	padding-bottom: 100px;
	display: flex;
	margin: 0 auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.headerSection {
	padding: 2% 4%;
	margin: 2%;
}

.heading {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-transform: capitalize;
	letter-spacing: 2px;
	margin-bottom: 2%;
}

.underline {
	display: inline-block;
	width: 100%;
	border: 2px solid var(--cream);
}

.sand {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.title {
	text-transform: capitalize;
	font-size: 48px;
	letter-spacing: 1px;
}

#addicon {
	font-size: 80px;
}

#footername {
	background-color: var(--darkblue);
	color: var(--lightgrey);
	text-align: center;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 120px;
	line-height: 120px;
}

.authorname {
	text-transform: lowercase;
	letter-spacing: 2px;
}